 
 @import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap'); 
 
 /*  General Info*/ 

body{ 
    background-color :#FAEDCD; 
    margin: 0px; 
} 

 /*Top nav stuff */ 


 .logo{ 
    z-index: 1; 
    margin-left: -10px;
 }

 .div_info{ 
    background-color: #CCD5AE;  
 }
nav{ 
    text-align: center;
    text-transform: none;
    margin-top: -200px; 
    margin-right: 200px; 
    padding: 100px 100px 0px 100px; 
    font-size: 2.3em; 
    list-style-type: none;
    display: flex;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    justify-content: space-around;
}

  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 100px;
  }

  nav a:link, nav a:visited {
    color: #D4A373;
  }

  nav a:hover {
    color: #FAEDCD;
  }

  

 /* main pagee info FIX IMAGES AND GEET SHADOWS! */ 


.page_one_main{  
    display: grid;  
    grid-template-rows: 1fr 100px 1fr 100px;
    grid-template-columns: 1fr 1fr ;
}


.book-worm{ 
    grid-column: 1/-1;
    grid-row: 1/2; 
    font-size: 3.4em; 
    text-align: center;
    margin: 50px;
    margin-left: 30px;
    font-family:  'Noto Sans Mono', monospace; 

}

.book-worm-logo{ 
    grid-column: 1/-1;
    grid-row: 1/2 ; 
    z-index: 1;
    margin-top: 240px; 
    margin-left: 410px; 
}
.top-img{ 
    grid-column: 1/-1;
    grid-row: 1/2 ; 
    margin-left: 230px; 
    margin-top: 170px; 
}


.title_one{ 
    grid-column: 1/-1;
    grid-row: 2/3; 
    font-size: 2.6em; 
    text-align: center;
    margin: 50px;
    margin-left: -30px;
    margin-top: 150px; 
    font-family:  'Noto Sans Mono', monospace; 
    color: #8e9b62;
} 

.title_one:hover{ 

    transform: scale(0.9);
}

.text-one{ 
    grid-column: 1/2;
    grid-row: 3/4; 
    margin: 50px; 
    margin-left: 180px; 
    margin-top: 170px; 
    font-size: 1.5em; 
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;


}

.info_img-one{ 
    grid-column: 2/3;
    grid-row: 3/4; 
    margin-top: 180px; 
    margin-left: 35px;
    box-shadow: 5px 5px 10px black;
}

.info_img-one:hover{ 

    opacity: 0.7;
}


.title_two{ 
    grid-column: 1/-1;
    grid-row: 4/5; 
    font-size: 2.6em; 
    text-align: center;
    margin: 50px;
    margin-left: -30px;
    font-family:  'Noto Sans Mono', monospace; 
    color: #8e9b62;
}

.title_two:hover{ 

    transform: scale(0.9);
}

.text-two{ 
    grid-column: 1/2;
    grid-row: 5/6; 
    margin: 50px; 
    margin-left: 180px; 
    margin-top: 100px; 
    font-size: 1.5em; 
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
}

.info_img-two{ 
    grid-column: 2/3;
    grid-row: 5/6; 
    margin-top: 120px; 
    margin-left: 35px;
    box-shadow: 5px 5px 10px black;
}

.info_img-two:hover{ 

    opacity: 0.7;
}

/*Footer stuff - page one  */ 


footer{ 
    padding: 40px 50px;
    padding-left: 110px; 
    padding-right: 90px; 
    background-color:#D4A373;
    margin-top: 200px;
    text-decoration: none; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
} 

footer a{
    color:#CCD5AE; 
    text-decoration: none;
    font-family: 'Zen Maru Gothic', sans-serif;
}
footer a:hover{
    text-decoration: underline; 
    color:#E9EDC9; 
}



/*PAGE TWO*/ 



/*Nav - page two */ 
.logo{ 
    z-index: 1; 
    margin-left: -10px;
 }

 .div_info{ 
    background-color: #CCD5AE;  

 }
nav{ 
    text-align: center;
    text-transform: none;
    margin-top: -200px; 
    margin-left: 200px; 
    padding: 100px 100px 0px 100px; 
    font-size: 2.3em; 
    list-style-type: none;
    display: flex;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
}

  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 20px;
  }

  nav a:link, nav a:visited {
    color: #D4A373;
  }

  nav a:hover {
    color: #FAEDCD;
  }

/* BODY OF PAGE 2  */
  .page_two_main{ 
    display: grid;  
    grid-template-rows: 1fr 1400px 500px 600px 1200px;
    grid-template-columns: 1fr 1fr;
}

.page_two_img{ 

    grid-column: 1/-1;
    grid-row: 1/2 ; 
    margin-left: 260px; 
    margin-top: 200px; 
    box-shadow: 5px 5px 10px black;
}

.book-worm-two{ 
    grid-column: 1/-1;
    grid-row: 1/2 ; 
    margin-left:50px; 
    font-size: 3.4em; 
    text-align: center;
    margin: 50px;
    margin-left: 30px;
    font-family:  'Noto Sans Mono', monospace; 
}

.about-bw{ 

    grid-column: 1/-1;
    grid-row: 1/2 ; 
    margin-top:130px; 
    text-align: center;
    font-size: 1.8em;
    margin-left: -30px; 
    font-family: 'Zen Maru Gothic', sans-serif;
}

.page_two_title{ 
    grid-column: 1/-1;
    grid-row: 2/3 ; 
    margin: 0 auto; 
    text-align: center;
    font-size: 2.5em;
    margin-top: 60px; 
    font-family:  'Noto Sans Mono', monospace; 
    color:#8e6d4d; 
}

.what_answers{ 
    grid-column: 1/2; 
    grid-row: 2/3 ; 
    margin: 0 auto; 
    text-align: center;
    font-size: 1.8em;
    margin-top: 200px; 
    padding:20px;
    padding-right: 35px; 
    padding-left: 60px;
    margin-bottom: 300px;
    font-family:  'Noto Sans Mono', monospace; 
    color:#D4A373; 
    background-color: #CCD5AE;
}

.page-two-text-one{ 

    grid-column: 1/2; 
    grid-row: 2/3 ; 
    text-align: left;
    margin-top: 250px; 
    margin-left: 110px; 
    padding: 35px;
    font-size: 1.5em;
    margin-bottom: 150px;
    width: 60%; 

    font-family: 'Zen Maru Gothic', sans-serif;

}


.what_do{ 

    grid-column: 2/3; 
    grid-row: 2/3 ; 
    margin: 0 auto; 
    text-align: center;
    font-size: 1.8em;
    margin-top: 200px; 
    padding:20px;
    padding-right: 35px; 
    padding-left: 60px;
    margin-bottom: 300px;
    font-family:  'Noto Sans Mono', monospace; 
    color:#D4A373; 
    background-color: #CCD5AE;
}


.page-two-text-two{ 

    grid-column: 2/3; 
    grid-row: 2/3 ; 
    text-align: left;
    margin-top: 250px; 
    margin-left: 136px; 
    margin-bottom: 300px;
    padding: 35px;
    font-size: 1.55em;
    width: 60%; 
    font-family: 'Zen Maru Gothic', sans-serif;
}


.what_answers:hover, .what_do:hover{ 

    background-color: #E9EDC9;
    box-shadow: 5px 5px 10px black;
    border-color: black;
}


.img-two-one{ 
    grid-column: 1/-1; 
    grid-row: 3/4; 
    border-radius: 100%;
    margin-left:1050px; 
    margin-top: -100px;
    width: 450px;
    box-shadow: 5px 5px 10px black;
}

.img-two-two{ 
    grid-column: 1/-1; 
    grid-row: 3/4; 
    margin-top: -100px;
    border-radius: 100%;
    margin-left: 525px;
    width: 450px;
    box-shadow: 5px 5px 10px black;
}

.img-two-three{ 
    grid-column: 1/-1; 
    grid-row: 3/4; 
    margin-top: -100px;
    border-radius: 100%;
    width: 450px;
    box-shadow: 5px 5px 10px black;
}

.most-popluar{ 
    grid-column: 1/-1; 
    grid-row: 4/5; 
    margin: 0 auto; 
    margin-top: -40px;
    text-align: center;
    font-size: 2.3em;
    font-family:  'Noto Sans Mono', monospace; 
    color:#D4A373; 
}


.most-popluar-two{ 
    grid-column: 1/-1; 
    grid-row: 4/5; 
    margin-top: 90px;
    margin-left: 750px;
    box-shadow: 5px 5px 10px black;
    
}

.most-popluar-three{ 
    grid-column: 1/-1; 
    grid-row: 4/5; 
    margin-top: 90px;
    margin-left: 950px;
    box-shadow: 5px 5px 10px black;
}

.most-popluar-four{ 
    grid-column: 1/-1; 
    grid-row: 4/5; 
    margin-top: 90px;
    margin-left: 1150px;
    box-shadow: 5px 5px 10px black;
}

.most-popluar-five{ 
    grid-column: 1/-1; 
    grid-row: 4/5; 
    margin-top: 90px;
    margin-left: 550px;
    box-shadow: 5px 5px 10px black;
}

.most-popluar-six{ 
    grid-column: 1/-1; 
    grid-row: 4/5; 
    margin-top: 90px;
    margin-left: 350px;
    box-shadow: 5px 5px 10px black;
}

.most-popluar-seven{ 
    grid-column: 1/-1; 
    grid-row: 4/5; 
    margin-top: 90px;
    margin-left: 150px;
    box-shadow: 5px 5px 10px black;
}

.rating-bw{ 
    grid-column: 1/-1; 
    grid-row: 5/6;
    text-align: center;
    font-size: 2.3em;
    font-family:  'Noto Sans Mono', monospace; 
    color:#D4A373; 
    margin-top: -50px;
    
}

.six_of_crows{ 
    grid-column: 2/3; 
    grid-row: 5/6; 
    box-shadow: 5px 5px 10px black;
    margin-left:280px; 
    margin-top: 110px; 

}

.Skyward{ 
    grid-column: 2/3; 
    grid-row: 5/6; 
    box-shadow: 5px 5px 10px black;
    margin-left:280px; 
    margin-top: 520px; 
}

.lying-one{ 
    grid-column: 2/3; 
    grid-row: 5/6; 
    box-shadow: 5px 5px 10px black;
    margin-left:280px; 
    margin-top: 920px; 
}
.rating-books{ 
    grid-column: 1/2; 
    grid-row: 5/6; 
    margin-top: 100px;
    margin-left: 158px; 
    font-family:  'Noto Sans Mono', monospace; 
    text-align: center;
    
}

.rating-books-2{

    grid-column: 1/2; 
    grid-row: 5/6; 
    margin-top: 500px;
    margin-left: 158px; 
    font-family:  'Noto Sans Mono', monospace; 
    text-align: center;
}


.rating-books-3{ 

  grid-column: 1/2; 
    grid-row: 5/6; 
    margin-top: 900px;
    margin-left: 158px; 
    font-family:  'Noto Sans Mono', monospace; 
    text-align: center;
    
}
* {
    box-sizing: border-box;

  }

  
  .heading {
    font-size: 21px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}


  .bar-5-1 {width: 15%; height: 18px; background-color: #04AA6D;}
  .bar-4-1{width: 20%; height: 18px; background-color: #2196F3;}
  .bar-3-1 {width: 56%; height: 18px; background-color: #00bcd4;}
  .bar-2-1 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1-1 {width: 15%; height: 18px; background-color: #f44336;}

  .bar-5-2 {width: 75%; height: 18px; background-color: #04AA6D;}
  .bar-4-2{width: 60%; height: 18px; background-color: #2196F3;}
  .bar-3-2 {width: 30%; height: 18px; background-color: #00bcd4;}
  .bar-2-2 {width: 20%; height: 18px; background-color: #ff9800;}
  .bar-1-2 {width: 38%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }

.log-in-here{ 

    text-align: center;
    margin: 0 auto; 
    margin-top: 1300px;
    font-size: 1.7em;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #8e9b62; 
    grid-column: 1/-1; 
    grid-row: 5/6; 

}

.log-in-here:hover{ 
  font-weight: bolder;
  font-size: 2.1em;

}


/* The sign-up stuff */


     /* Bordered form */
form {
    grid-column: 1/-1; 
    border: 3px solid white;
    margin: 150px; 
    font-family:  'Noto Sans Mono', monospace; 
    margin-top: 500px;
  }
  

.log-in-title{ 
    margin:30px; 
    margin-left: 550px; 
    font-size: 2.8em;
    color:#D4A373; 

  }
            /* Full-width inputs */

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCD5AE;
    box-sizing: border-box;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 900;
  }
  
        /* Set a style for all buttons */
  button {
    background-color: #b2c27e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Zen Maru Gothic', sans-serif;
  }

  
        /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
        /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #D4A373;
    
  }
  
        /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
        /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
        /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }



/*Footer stuff */ 


footer{ 
    padding: 40px 50px;
    padding-left: 110px; 
    padding-right: 90px; 
    background-color:#D4A373;
    margin-top: 200px;
    text-decoration: none; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
} 

footer a{
    color:#CCD5AE; 
    text-decoration: none;
    font-family: 'Zen Maru Gothic', sans-serif;
}
footer a:hover{
    text-decoration: underline; 
    color:#E9EDC9; 
}



/*PAGE TWO stuff */ 



/*nav stuff */ 
.logo{ 
  z-index: 1; 
  margin-left: -10px;
}

.div_info{ 
  background-color: #CCD5AE;  

}
nav{ 
  text-align: center;
  text-transform: none;
  margin-top: -200px; 
  margin-left: 200px; 
  padding: 100px 100px 0px 100px; 
  font-size: 2.3em; 
  list-style-type: none;
  display: flex;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: bold;
}

nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 20px;
}

nav a:link, nav a:visited {
  color: #D4A373;
}

nav a:hover {
  color: #FAEDCD;
}


/*Main page three */ 
.page_three_main{ 
  display: grid;  
  grid-template-rows: 1000px 400px 1fr 600px 700px;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 60px;
}

.book-worm-three{ 
  grid-column: 1/-1;
  grid-row: 1/2 ; 
  margin-left:50px; 
  font-size: 3.4em; 
  text-align: center;
  margin: 90px;
  margin-left: 30px;
  font-family:  'Noto Sans Mono', monospace; 

}

.rating-book-worm{ 

  grid-column: 1/-1;
  grid-row: 1/2 ; 
  margin-top:130px; 
  text-align: center;
  font-size: 1.8em;
  margin-left: -52px;  
  margin-top: 180px; 
  font-family: 'Zen Maru Gothic', sans-serif;
}

.top-img-three{ 

  grid-column: 1/-1;
  grid-row: 1/2 ; 
  margin-left: 210px; 
  margin-top: 265px; 
}


.book-worm-logo-three{ 

  grid-column: 1/-1;
  grid-row: 1/2 ; 
  z-index: 1;
  margin-top:-900px; 
  margin-left: 200px; 
}
.text-over-img{ 
  font-family: 'Zen Maru Gothic', sans-serif;
  padding: 30px; 
  grid-column: 1/-1;
  grid-row: 2/3 ; 
  text-align: left;
  background-color: #CCD5AE;
  width: 85%;  
  font-size: 1.9em;
  text-align: center;
  box-shadow: 1px 1px 8px black;
  margin-left: 110px; 
  margin-bottom: 10px; 
}


.books-stuff{ 
  margin: 30px; 

}

.title_one-three { 

  grid-column: 1/2;
  grid-row: 3/4; 
  font-family:  'Noto Sans Mono', monospace; 
  text-align: center;
  font-size: 2.2em; 
  color: #8e9b62;
}

.title_two-three{ 

  grid-column: 2/3;
  grid-row: 3/4; 
  font-family:  'Noto Sans Mono', monospace; 
  text-align: center;
  font-size: 2.2em; 
  color: #8e9b62;
}

.title_three-three{ 

  grid-column: 3/4;
  grid-row: 3/4; 
  font-family:  'Noto Sans Mono', monospace; 
  text-align: center;
  font-size: 2.1em; 
  color: #8e9b62;

}
.book-read-sections{ 
  grid-column: 1/2;
  grid-row: 3/4; 
  margin: 120px;
  text-align: center;
  border-style: solid;
  border-color: #D4A373;
  box-shadow: 5px 5px 25px black;
}

.pictures{ 
  padding: 7px; 
}

.to-book-read-sections{ 
  grid-column: 2/3;
  grid-row:3/4; 
  margin: 120px;
  text-align: center;
  border-style: solid;
  border-color: #D4A373;
  box-shadow: 5px 5px 25px black;
}


.friend-book-read-sections{ 
  grid-column: 3/4;
  grid-row:3/4; 
  margin: 120px;
  text-align: center;
  border-style: solid;
  border-color: #D4A373;
  box-shadow: 5px 5px 25px black;
}

.make_your_own{ 
  font-family:  'Noto Sans Mono', monospace; 
  font-size: 2.6em; 
  color: #D4A373; 
  text-align: center;
  grid-column: 1/-1;
  grid-row: 5/6; 
  
}


input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  padding:5px; 
  margin:13px; 
}

/* Style the submit button */
input[type=submit] {
  background-color: #97a95e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container_1 {
  margin:20px; 
  border-radius: 5px;
  padding: 40px;
  grid-column: 1/-1;
  grid-row: 5/6; 
  margin-top:-400px;
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.talk_books{ 

  grid-column: 1/3;
  grid-row: 4/5;
  font-size: 2.3em;
  font-family:  'Noto Sans Mono', monospace; 
  margin-top:-70px; 
  margin-left:90px; 
  color: #8e6d4d;

}

/* Style the container with a rounded border, grey background and some padding and margin */
.container_group_chat {
  border: 2px solid #FAEDCD;
  background-color: #D4A373;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  grid-column: 1/3;
  grid-row: 4/5;
  margin-top: 100px; 
  margin-bottom: 390px;
  margin-left: 20px; 
  width: 50%; 
  font-family: 'Zen Maru Gothic', sans-serif;
  box-shadow: 5px 5px 10px black;
}

/* Clear floats after containers */
.container_group_chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container_group_chat img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container_group_chat span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container_group_chat {
    text-align: center;
  }

  .container_group_chat img {
    margin: auto;
    float: none;
    display: block;
  }
}


.container_group_chat_two {
  border: 2px solid #FAEDCD;
  background-color: #D4A373;
  border-radius: 5px;
  padding: 16px;
  margin: 24px 0;
  grid-column: 1/3;
  width: 60%; 
  grid-row: 4/5;
  margin-bottom: 183px;
  margin-top: 230px; 
  margin-left: 120px; 
  line-height: 1.4;
  text-align: left;
  font-family: 'Zen Maru Gothic', sans-serif;
  box-shadow: 5px 5px 10px black;

}

/* Clear floats after containers */
.container_group_chat_two::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container_group_chat_two img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container_group_chat_two span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container_group_chat_two {
    text-align: center;
  }

  .container_group_chat_two img {
    margin: auto;
    float: none;
    display: block;
  }
}


/* Style the container with a rounded border, grey background and some padding and margin */
.container_group_chat_three {
  border: 2px solid #FAEDCD;
  background-color: #D4A373;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  grid-column: 1/3;
  grid-row: 4/5;
  margin-top:440px; 
  margin-bottom: 50px;
  margin-left: 20px; 
  width: 50%; 
  font-family: 'Zen Maru Gothic', sans-serif;
  box-shadow: 5px 5px 10px black;
}

/* Clear floats after containers */
.container_group_chat_three::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container_group_chat_three img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container_group_chat_three span {
  font-size: 20px;
  margin-right: 15px;
}


@media (max-width: 500px) {
  .container_group_chat_three {
    text-align: center;
  }

  .container_group_chat_three img {
    margin: auto;
    float: none;
    display: block;
  }
}


.find_me{ 

  
  grid-column: 1/-1;
  grid-row: 4/5;
  font-size: 2.3em;
  font-family:  'Noto Sans Mono', monospace; 
  margin-top:-70px; 
  margin-left:940px; 
  color: #8e6d4d;
}
#myInput {
  grid-column: 2/4;
  grid-row: 4/5;
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 63%; /* Full-width */
  margin-left: 349px; 
  margin-right:30px; 
  margin-top: 100px; 
  margin-bottom: 452px; 
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border *//* Add some space below the input */
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color:#E9EDC9;
  border-color:#CCD5AE;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 63%; /* Full-width */
  margin-left:350px;
  margin-top: 155px; 
  grid-column: 2/4;
  grid-row: 4/5;
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #CCD5AE;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  background-color: #CCD5AE;
  border-color: white;
  border-width: 1px;
}

#myUL li a:hover:not(.header) {
  background-color: #E9EDC9; /* Add a hover effect to all links, except for headers */
}