@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300&display=swap'); 

#content{ 

    max-width: 1600px; 
    margin: 0 auto;
}
.page_two{ 
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto;
}
    
.rivers-to-explore{ 
    text-align: center; 
    margin: 80px; 
}

.salmon{ 

grid-column: 1/3;
grid-row: 3/4;
}


h2{ 
    color:white; 
}

nav{ 

    display: flex;
    justify-content: space-around;
    
}

nav a{ 

    text-align: center;
    color:white; 
    text-decoration: none;
    font-family: 'Condensed', cursive; 
    padding: 35px;
    
} 


#hero-msg{ 
    grid-column: 2/3; 
    grid-row:1/2; 
    margin-top: 100px;

}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
} 

#hero{ 

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-msg h1 { 

    text-align: center;
    font-family: 'Bebas Neue ', cursive;
}



#hero-msg h4{ 

    text-align: center;
    font-family: 'Bebas Neue ', cursive;

}
.button-box{ 
    text-align: center;
    font-family: 'Bebas Neue ', cursive;

}
main section{ 
    text-align: center;
    font-family: 'Bebas Neue ', cursive;

}

main section img{ 

    box-sizing: border-box; 
}

#background{ 

    height: 725px;
    background-color:#1c829c; 
    
}

body{ 
    background-color:#045e8b; 
    font-family: 'Condensed', cursive;
    font-size:22px; 
    margin: 0;
    padding: 0;


}
header{

    background-color:#ffa033;
    font-size: 30px;
    font-family: 'Bebas Neue ', cursive; 
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.9; 
    
    
}
nav a:hover{

    background-color:#FFC533; 
    color:black; 
    opacity: 0.5;

}
.book, .join {
    background-color:#FFC533;
    color:white; 
    text-decoration: none;
    font-family: 'Bebas Neue ', cursive;
    font-size: 18px; 
    padding: 15px 30px; 
    margin-top: 50px;
    border-radius: 5px; 
}



.card-img{ 

    border: 10px solid #ffa033;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;

}

.card-img:hover{ 
    opacity: .6;
    transform: scale(1.1);

}
.book:hover, .join:hover{

    background-color:#ffa033;
    color:white; 
}



.home-title{
color:white;
font-family: 'Bebas Neue ', cursive;
font-size:65px; 
font-size: 2em;
margin-top: 10px;
text-shadow: 2px 2px black;

}
h4{

    color:white; 
    font-family: 'Condensed', cursive;
}

h2{ 
    margin: 0; 
}


.logo{ 

    width: 80px;
}
#logo_link{ 
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.msg h2{
    color:#045e8b;  
    
}
.msg p{

    color:black; 
    font-family: 'Condensed', cursive;
    font-size: .8em;
    padding-bottom: 15px;
}


footer{
    padding: 40px 50px;
    padding-left: 110px; 
    padding-right: 90px; 
    background-color:#ffa033;
    margin-top: 200px;
    text-decoration: none; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 21px;



}

footer h3{
    color:white; 
    text-decoration: none; 
    font-family: 'Condensed', cursive;
}
footer a{

    color:white; 
    text-decoration: none;
    font-family: 'Condensed', cursive;
}
footer a:hover{
    text-decoration: underline; 
    color:navy; 
}
footer .social img{ 

    text-decoration: none;
    padding-top: 15px;
}

.join{

    color:black; 
    font-family: 'Bebas Neue ', cursive;
    font-size: 20px;
    background-color:#ffa033;
}

.icon {
    width: 100px;
    padding-top: 10px;
    
}

.home-grid{ 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 

}
#hero-img {
    width:100%; 
}
        
.rivers-card, .camping-card, .rapids-card, .mountains{ 

    margin: 200px 0;
}

.card-img, .mountain{ 

    width: 100%;
} 

.msg{

    background-color:#FFC533;
    line-height: 1.5em;
    padding: 35px;
    grid-column:6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}

.rivers-card{ 
 
    grid-column: 2/4;
    grid-row: 2/3; 
}

.rivers-word{ 

padding:10px; 
}

.camping-card{ 

    grid-column:5/7;
    grid-row: 2/3;
}

.rapids-card{ 
    grid-column:8/10;
    grid-row: 2/3;
}

.mountains{ 
    grid-column:2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;

}

#background { 
    grid-column:1/11;
    grid-row: 4/9; 
    padding-bottom: 60px; 

}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: white;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px; 
    } 
} 


